.gameOver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #0c50a6;
}

h1,
h2 {
  margin: 30px;
  font-family: "ZCOOL KuaiLe", cursive;
}
