* {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
}

/* #sliding_background {
  z-index: -1;
  background-image: url("../images/gameSky.jpg");

  width: 10000px;
  background-color: tomato;
  overflow: hidden;
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
  bottom: 0;
  animation: background 25s infinite linear;
} */

#block {
  width: 50px;
  height: 500px;
  background-color: black;
  position: relative;
  left: 400px;
  animation: block 4s infinite linear;
}
@keyframes block {
  0% {
    right: 0px;
  }
  100% {
    left: -500px;
  }
}

/* @keyframes background {
  0% {
    left: 0px;
  }
  100% {
    left: -1000px;
  }
} */

#hole {
  width: 50px;
  height: 150px;
  background-color: white;
  position: relative;
  left: 400px;
  top: -500px;
  animation: block 4s infinite linear;
}

#character {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 100px;
  border-radius: 50%;
}

/* #wing1 {
  background-color: blue;
  clip-path: polygon(11% 47%, 100% 46%, 90% 100%, 0% 100%);

  width: 40px;
  height: 20px;
  position: relative;
  top: 20px;
  left: 2px;
}

#wing2 {
  background-color: lightblue;
  width: 40px;
  height: 20px;
  clip-path: polygon(11% 47%, 100% 48%, 91% 0, 0 0);
} */
